:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Call to action btn:
#EF476F -salmon
Some lines, acsent of website:
#FFD166 - yellow
#06D6A0 - bright green
#118AB2 - blue
Text:
#073B4C - dark blue for headers h1 ... h6
#342F2F -paragraph p and all other text */
.intro {
  max-width: 1200px;
  padding: 2rem;
}
.intro ul li {
  list-style: none;
  text-align: left;
  padding-left: 4rem;
}
a {
  font-weight: 500;
  color: #073b4c;
  text-decoration: inherit;
}
a:hover {
  color: #ef476eab;
}

body {
  margin: 0 auto;
  text-align: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #073b4c;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ef476f;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ef476eab;
  background-color: #eb2553fa;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ef476f;
  }
}
