p {
  /* color: #ffd166; */
  margin: 2px;
  padding: 5px;
}

.span2cols {
  grid-column: 1 / span 2;
  text-align: center;
}

.healthLabels,
.dietLabels,
.cuisineType,
.dishType,
.mealType {
  display: flex;
  flex-wrap: wrap;
}

.labels p {
  display: inline;
  font-size: 11px;
}

.labels {
  display: grid;
  width: 1500px;
  grid-template-columns: 1fr 1fr;
}

mark {
  border-radius: 5px;
  height: 30px;
  padding: 2px 4px;
}

.healthLabels mark {
  background-color: #ffd166;
}

.dietLabels mark {
  background-color: #06d6a0;
}

.cuisineType mark {
  background-color: #118ab2;
}

.dishType mark {
  background-color: #9b440a;
}

.mealType mark {
  background-color: #9a32c4;
}

.nutritionGrid {
  display: grid;
  width: 500px;
  grid-template-columns: 1fr 1fr;
}

.nutritionGrid p {
  border: 1px solid #ffd166;
}
